
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
  <h2>
  <%= link_to 'Facebookでサインイン', user_facebook_omniauth_authorize_path, method: :post,class: "Editlink1" %>
  </h2>
  <h2>
  <%= link_to 'Googleでサインイン', user_google_oauth2_omniauth_authorize_path, method: :post,class: "Editlink2"%>
   </h2>
</div>
</div>
</div>
</div>