<%# 本の情報 %>
<div id="swiper-container">
<% @books.each do |book|%>
 <% if book.present?%>
    <ul>
     	<li> <h3 class="item-name"><%= book.genre.type %></h3></li>
    	<li> <h2 class="item-name"><%= book.name %></h2></li>
       <%= link_to "/books/#{book.id}" do %>
	    <li><%= image_tag book.image , id: 'slideshow' if book.image.attached?%></li>
      <% end %>
    </ul>
    <%end%>
  <% end %>
</div>