<html>
    <div class="container">
      <h2>＊本について編集を加える！＊</h2>
    </div>
  
  <%# 本情報入力 %>
  
  <%= render "shared/book" %>

  <%# 本情報入力 %>


 <%# ホームボタン %>
  <%= render "shared/home" %>
 <%# ホームボタン %>

</html>
