.image-stage{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh;
}
.genre{
  padding-bottom: 5vh;
}
.select-box{
  padding: 7px;
}

.tag-field{
  margin: 5vh;
}