.top-message{
  margin-top: 7vh;
  font-size: xx-large;
}
.box-new{
  margin-top: 30vh;
}
.message-content{
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}
.message-text{
  font-size: small;
}